/* stilizeaza butonale care trimit la modelul 3d al planetei si
 * din care se alege alta planeta */
button#planet {
	font-family: Arial;
	background: #3cb0fd;		/* culoare de fundal, albastru (in caz ca nu merg transformarile de mai jos) */
	color: #ffffff;				/* culoare la scrisul de pe buont, alb */
	font-size: 14px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	/* creeaza un gradient de la albastru-deschis la un albastru-inchis,
	 * pornind de sus si mergand in jos */
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	/* rotunjeste colturile la buton */
	-webkit-border-radius: 60;
	-moz-border-radius: 60;
	border-radius: 60px;
}
