/* stilizeaza imaginile */

/* cum sa fie asezate elementele dintre <section> si </section> */
section {
	display: block;		/* ca un paragraf (<p>) */
}

/* sa afiseze elementele unul dupa altul */
.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* cat de mare spatiul pentru imagini */
#page-wrap {
	width: 660px;
	margin: 60px auto;
}

/* cat spatiu sa lase intre imagini si restul elementelor */
.image-gallery {
	margin: 20px 0 25px 0;
}

/* afiseaza imaginea rotita la stanga si pusa in stanga paragrafului */
figure.rotLeftFloatLeft { 
	width: 120px; 		/* latimea la imagine */
	float: left; 		/* unde in paragraf s-o afiseze */
	margin: 0 20px 0 0; /* margini */
	margin-left: 150px;
	background: white;
	/* creaza bordura alba din jurul imaginii */
	border: 10px solid white; 
	-webkit-box-shadow: 0 3px 10px #ccc; 
	-moz-box-shadow: 0 3px 10px #ccc;
	/* roteste imaginea spre stanga cu 5 grade */
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg);
	-webkit-transition: all 0.7s ease; 
	-moz-transition: all 1s ease;
	position: relative;
	/* pune imaginea in fata la restul elementelor, sa mearga animatiile */
	z-index: 99;
}

/* afiseaza imaginea rotita la dreapta si pusa in stanga paragrafului */
figure.rotRightFloatLeft { 
	width: 120px; 
	float: left;
	margin: 0 20px 0 0;
	background: white;
	border: 10px solid white; 
	-webkit-box-shadow: 0 3px 10px #ccc; 
	-moz-box-shadow: 0 3px 10px #ccc;
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg);
	-webkit-transition: all 0.7s ease; 
	-moz-transition: all 1s ease;
	position: relative;
	z-index: 99;
}

/* afiseaza imaginea rotita la stanga si pusa in dreapta paragrafului */
figure.rotLeftFloatRight { 
	width: 120px; 
	float: right; 
	margin: 0 20px 0 0;
	background: white;
	border: 10px solid white; 
	-webkit-box-shadow: 0 3px 10px #ccc; 
	-moz-box-shadow: 0 3px 10px #ccc;
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg);
	-webkit-transition: all 0.7s ease; 
	-moz-transition: all 1s ease;
	position: relative;
	z-index: 99;
}

/* afiseaza imaginea rotita la dreapta si pusa in dreapta paragrafului */
figure.rotRightFloatRight { 
	width: 120px; 
	float: right;
	margin: 0 20px 0 0;
	margin-right: 150px;
	background: white;
	border: 10px solid white; 
	-webkit-box-shadow: 0 3px 10px #ccc; 
	-moz-box-shadow: 0 3px 10px #ccc;
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg);
	-webkit-transition: all 0.7s ease; 
	-moz-transition: all 1s ease;
	position: relative;
	z-index: 99;
}

/* atributele textului care apar in caption-ul la imagine */
figcaption { 
	color: #000000;
	text-align: center; 
	display: block; 
	font-size: 12px; 
	font-style: italic; 
}

/* micsoreaza imaginea */
figure img { 
	width: 100%;
}

/* pune imaginea in pozitia corecta cand soarecu e deaspura ei */
figure:hover {
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(1deg);
	-webkit-box-shadow: 0 3px 10px #666;
	-moz-box-shadow: 0 3px 10px #666;
}

/* mareste imaginea cand s-a dat click pe imagine */
figure:focus {
	outline: none;
	-webkit-transform: rotate(-3deg) scale(2.5);
	-moz-transform: rotate(-3deg) scale(2.5);
	-webkit-box-shadow: 0 3px 10px #666;
	-moz-box-shadow: 0 3px 10px #666;
	z-index: 9999;
}
