/* stilurile pentru meniu, cel din stanga ferestrei */
body {
	margin: 0;
	padding: 0;
}

/* decoratii la linkuri */
a {
	font-family: Arial;
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
	text-decoration: none;
	color: #363636;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

/* meniul este definit ca o lista nestructura */
ul {
	margin: 0;
	padding: 0;
}

/* stilizeaza itemele din lista */
ul li a{
	display: block;
	padding: 0 20px;
	border-left: 1px solid rgba(255,255,255,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	line-height: 79px;
	/* gradient de la un gri-deschis la un gri-inchis */
	background: -webkit-gradient(linear,left top,left bottom,from(rgb(168,168,168)),to(rgb(69,69,69)));
	background: -moz-linear-gradient(top,rgb(168,168,168),rgb(69,69,69));
	-webkit-transition-property: background;
	-webkit-transition-duration: 700ms;
	-moz-transition-property: background;
	-moz-transition-duration: 700ms;
}

/* meniul in sine */
ul.menu {
	margin: 0 20px 0 0;
	width: 250px;
	border: 1px solid #323232;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
}

/* item din meniu */
ul.menu li {
	list-style: none;
	position: relative;
	/* gradient radial de la aslabstru-deschis la alabstru-inchis */
	background: -webkit-gradient(radial,50% 100%,0,50% 100%,140,from(rgba(31,169,244,0.4)),to(rgba(0,28,78,0.4)));
	background: -moz-radial-gradient(center 80px 45deg,circle cover,rgba(31,169,244,0.8) 0%,rgba(0,28,78,0.8) 100%);
}

/* cat spatiu sa ocupe un item in meniu */
ul.menu li span{
	position: absolute;
	left: 20px;
	top: 50px;
	color: #cccccc;
	text-shadow: 0 1px 1px rgba(255,255,255,0.2);
}

/* descrierea la itemul din meniu */
ul.menu li a{
	/* gradient de la gri-deschis la gri inchis */
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(117,117,117,1)),to(rgba(68,68,68,1)));
	background: -moz-linear-gradient(top,rgba(117,117,117,0.8),rgba(68,68,68,0.8));
	text-align: left;
	border-bottom: 1px solid #323232;
	border-top: 1px solid #868686;
	border-right: 1px solid #5a5a5a;
	color: #cccccc;
	-webkit-transition-property: background;
	-webkit-transition-duration: 700ms;
	-moz-transition-property: background;
	-moz-transition-duration: 700ms;
}

/* face meniul transparent */
ul.menu li a:hover{
	background: transparent none;
}
