/** stiluri pentru animatia la sistem */
/* deseneaza, aseaza in pagina sistemul solar ce urmeaza a fi animat;
 * acesta e definit ca o lista neordonata */
ul.solarsystem {
	position: relative;
	left: 200px;
	width: 960px;
	height: 640px;
	list-style: none;
	-webkit-transition: all 0.09s ease-in;
	-moz-transition: all 0.09s ease-in;
	-o-transition: all 0.09s ease-in;
	transition: all 0.09s ease-in;
	overflow: hidden;
}
/* stilizeaza elementele listei */
ul.solarsystem li {
	display: block;
	position: absolute;
	border: 2px solid #666666;
}
/* pentru a fi animate corect este necesar
 * ca sa existe un spatiu bine definit intre elemente */
ul.solarsystem li span {
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* deseneaza si defineste atributele soarelui */
ul.solarsystem li.sun {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fc3;
	/* gradient liniar de la galben-inchis la galben deschis */
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.22, rgb(204,153,0)),
		color-stop(1, rgb(255,219,112))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(204,153,0) 22%,
		rgb(255,219,112) 100%
	);
	top: 302px;
	left: 462px;
	border: none;
	/* deseneaza o umbra la element */
	-webkit-box-shadow: 0 0 50px #c90;
	-moz-box-shadow: 0 0 50px #c90;
	box-shadow: 0 0 50px #c90;
	z-index: 50;
	/* viteza la animatie, usor la inceput, normal dupa */
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
ul.solarsystem li.sun span {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;   
}

/* deseneaza si defineste planeta mercur */
ul.solarsystem li.mercury {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 52px;
	-moz-border-radius: 52px;
	border-radius: 52px;
	top: 270px;
	left: 430px;
	z-index: 49;
}
ul.solarsystem li.mercury span {
	background: #b6bac5;
	top: 10px;
	left: 10px;
}

/* deseneaza si defineste planeta venus */
ul.solarsystem li.venus {
	width: 160px;
	height: 160px;
	-webkit-border-radius: 82px;
	-moz-border-radius: 82px;
	border-radius: 82px;
	top: 240px;
	left: 400px;
	z-index: 48;
}
ul.solarsystem li.venus span {
	background: #bf8639;
	top: 118px;
	left: 5px;
}

/* deseneaza si defineste planeta pamant */
ul.solarsystem li.earth {
	width: 220px;
	height: 220px;
	-webkit-border-radius: 112px;
	-moz-border-radius: 112px;
	border-radius: 112px;
	top: 210px;
	left: 370px;
	z-index: 47;
}
ul.solarsystem li.earth span {
	background: #06c;
	top: 56px;
	left: 5px;
}

/* deseneaza si defineste luna */
ul.solarsystem li.earth span.moon {
	width: 4px;
	height: 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #ccc;
	top: 12px;
	left: 12px;
}

/* deseneaza si defineste planeta marte */
ul.solarsystem li.mars {
	width: 280px;
	height: 280px;
	-webkit-border-radius: 142px;
	-moz-border-radius: 142px;
	border-radius: 142px;
	top: 180px;
	left: 340px;
	z-index: 46;
}
ul.solarsystem li.mars span {
	background: #aa4200;
	top: 0px;
	left: 175px;
}

/* deseneaza si defineste centura de asteroizi;
 * aici trisam putin si incarcam o imagine statica
 * ce va fi animata mai tarziu; motive: mult mai elegant */
ul.solarsystem li.asteroids {
	top: 155px;
	left: 315px;
	z-index: 1;
	background: url(../img/asteroids.png) no-repeat 0 0;
	width: 330px;
	height: 330px;
	-webkit-border-radius: 165px;
	-moz-border-radius: 165px;
	border-radius: 165px;
	border: none;
}

/* deseneaza si defineste planeta jupiter */
ul.solarsystem li.jupiter {
	width: 340px;
	height: 340px;
	-webkit-border-radius: 172px;
	-moz-border-radius: 172px;
	border-radius: 172px;
	top: 150px;
	left: 310px;
	z-index: 45;
}
ul.solarsystem li.jupiter span {
	background: #e0ae6f;
	top: 67px;
	left: 24px;
}

/* deseneaza si defineste planeta saturn */
ul.solarsystem li.saturn {
	width: 400px;
	height: 400px;
	-webkit-border-radius: 202px;
	-moz-border-radius: 202px;
	border-radius: 202px;
	top: 120px;
	left: 280px;
	z-index: 44;
}
ul.solarsystem li.saturn span {
	background: #dfd3a9;
	top: 24px;
	left: 300px;
}

/* deseneaza si defineste inelele lui saturn */
ul.solarsystem li.saturn span.ring {
	width: 12px;
	height: 12px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: none;
	border: 2px solid #5a4e34;
	left: -3px;
	top: -3px;
	-webkit-transform: skewY(50deg);
	-moz-transform: skewY(50deg);
	-o-transform: skewY(50deg);
	transform: skewY(50deg);
}

/* deseneaza si defineste planeta uranus (XD) */
ul.solarsystem li.uranus {
	width: 460px;
	height: 460px;
	-webkit-border-radius: 232px;
	-moz-border-radius: 232px;
	border-radius: 232px;
	top: 90px;
	left: 250px;
	z-index: 43;
}
ul.solarsystem li.uranus span {
	background: #82b3d1;
	top: 7px;
	left: 300px;
}

/* deseneaza si defineste planeta neptun */
ul.solarsystem li.neptune {
	width: 520px;
	height: 520px;
	-webkit-border-radius: 262px;
	-moz-border-radius: 262px;
	border-radius: 262px;
	top: 60px;
	left: 220px;
	z-index: 42;
}
ul.solarsystem li.neptune span {
	background: #77c2ec;
	top: 0px;
	left: 200px;
}

/* deseneaza si defineste planeta pluto (viva la pluto) */
ul.solarsystem li.pluto {
	width: 580px;
	height: 580px;
	-webkit-border-radius: 292px;
	-moz-border-radius: 292px;
	border-radius: 292px;
	top: 30px;
	left: 190px;
	z-index: 41;
}
ul.solarsystem li.pluto span {
	background: #7c6a5c;
	top: 79px;
	left: 79px;
}

/** animatii */
/* definim o animatie generala pentru orbita la planete
 * care va fi folosita la toate planetele cu ajustari
 * masurate stiintific metoda ochiometric pentru fiecare
 * planeta in parte */
ul.solarsystem li {
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-webkit-animation-name:orbit;
	
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	-moz-animation-name:orbit;
}
/* luna necesta animatie separata, fiindca orbita ei
 * nu se preteaza la cea a planetelor */
ul.solarsystem li.earth span {
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-webkit-animation-name:moon;
	
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	-moz-animation-name:moon;
}

/* animatia pentru mercur */
ul.solarsystem li.mercury {
	-webkit-animation-duration:5s;
	-moz-animation-duration:5s;
}

/* animatia pentru venus */
ul.solarsystem li.venus {
	-webkit-animation-duration:8s;
	-moz-animation-duration:8s;
}

/* animatia pentru pamant */
ul.solarsystem li.earth {
	-webkit-animation-duration:12s;
	-moz-animation-duration:12s;
}

/* animatia pentru luna */
ul.solarsystem li.earth span {
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
}

/* animatia pentru asteroizi */
ul.solarsystem li.asteroids {
	-webkit-animation-duration:50s;
	-moz-animation-duration:50s;
}

/* animatia pentru marte */
ul.solarsystem li.mars {
	-webkit-animation-duration:20s;
	-moz-animation-duration:20s;
}

/* animatia pentru jupiter */
ul.solarsystem li.jupiter {
	-webkit-animation-duration:30s;
	-moz-animation-duration:30s;
}

/* animatia pentru saturn */
ul.solarsystem li.saturn {
	-webkit-animation-duration:60s;
	-moz-animation-duration:60s;
}

/* animatia pentru uranus (XD) */
ul.solarsystem li.uranus {
	-webkit-animation-duration:70s;
	-moz-animation-duration:70s;
}

/* animatia pentru neptun */
ul.solarsystem li.neptune {
	-webkit-animation-duration:100s;
	-moz-animation-duration:100s;
}

/* animatia pentru pluto */
ul.solarsystem li.pluto {
	-webkit-animation-duration:120s;
	-moz-animation-duration:120s;
}

/* implementam animatiile */
@-webkit-keyframes orbit {from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }
@-webkit-keyframes moon { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }

@-moz-keyframes orbit { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }
@-moz-keyframes moon { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }

/** stilul pentru tabelul ce contine meniul cu planete */
table#planets { /* pozitionarea in pagina a meniului */
	position: absolute;
	top: -10px;
	left: 315px;
	border-spacing: 10px;
}

/* propietati ale headingului h2; folosit pentru itemele meniului */
table#planets h2 {
	cursor: pointer;
	color: #ffffff;
	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	font-size: 20px;
	position: relative;
	z-index: 60;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* defineste felul in care se transforma fontul cand mousul este deasupra lui */
table#planets h2:hover {
   color: #b2b200; 
	-webkit-transform: scale(1.08);
	-moz-transform: scale(1.08);
	-o-transform: scale(1.08);
	transform: scale(1.08);
}

/* atribute ale celulelor tabelului;
 * defineste cum arata scurta introducere a planetei */
table#planets td p {
	position: absolute;
	top: 60px;
	width: 300px;
	opacity: 0;
	visibility: hidden;
	font-size: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	background: #404040;
	padding: 30px;
	color: #ffffff;
	line-height: 1.7;
	z-index: 60;
	border: 1px solid #ffffff;
}

/* defineste cum se schimba atributele headingului cand mousul este deasupra lui
 * si are un obiect de tip paragraf; in cazul nostru planeta are descriere */
table#planets h2:hover+p {
	visibility: visible;
	opacity: 0.9;
	top: 35px;
}
