/** atribute generale */
/* atribute care se aplica paginii */
* { /* scoatem marginile */
	margin: 0;
	padding: 0;
}
/* atribute care se aplica intre <body> si </body> */
body { 
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;	/* fontul folosit */
	background: #080e24 url(../img/bg.jpg) repeat;			/* culoarea si imaginea folosite pentru fundal */
	width: 100%;
	height: 100%;
	min-height: 500px;
}

/* vrem ca ce e intre <div> si </div> sa faca wrap la 960px orizontal */
div.wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 10px 0;
}

div.overlay {
	display: none;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 99;
}

/* ce e intre <section> si </section> sa fie afisat ca intr-un paragraf si
 * pozitionarea sa fie relativa la sine */
section {
	display: block;
	position: relative;
}

/* header-ele h1, h2... sa fie aliniate la centru */
header {
	text-align: center;
}

/* modificam header-ul h1 */
header h1 {
	font-size: 80px;
	line-height: 1;
	color: #ebebeb;		/* gri deschis */
	text-transform: uppercase;
	text-shadow: 5px 5px #202020;	/* gri foarte inchis */
}

header h3 {
	font-size: 35px;
	line-height: 1;
	color: #ebebeb;		/* gri deschis */
	text-transform: uppercase;
	text-shadow: 5px 5px #202020;	/* gri foarte inchis */
}

/* header h3 aliniat la stanga */
header h3#left {
	text-align: left;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 30px;
	font-size: 35px;
	line-height: 1;
	color: #ebebeb;		/* gri deschis */
	text-transform: uppercase;
	text-shadow: 5px 5px #202020;	/* gri foarte inchis */
}

/* stilurile la paragraful folosit in a scrie detaliile la planete */
p.hugetext {
	position: relative;
	margin-left: 150px;
	margin-right: 150px;
	padding: 0;
	border: 0;
	color: #ebebeb;
	font-size: 16px;
	vertical-align: baseline;
	font-style: italic;
	text-shadow:0 1px 1px rgba(255,255,255,0.4);
	box-sizing: border-box;
}

/* stilul la prima litera din paragraf */
p.altdrop:first-letter, .dropcap-alt {
	float: left;
	background: #434343;
	color: #fff;
	font-size: 2em;
	padding: 10px 14px;
	margin-right: 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
