/* stilurile care definesc taburile (prezente in curioziati) */
body {
	font-family: "Segoe UI", arial, helvetica, freesans, sans-serif;
	font-size: 90%;
	z-index: 0;
}

/* atributele la h1, h2, p */
h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
}

h2 {
	font-size: 1.3em;
	font-weight: normal;
	margin: 2em 0 0 0;
}

p {
	margin: 0.6em 0;
}

/* face ca titlul la articol sa iasa in evidenta */
p#tabtitle {
	font-family: "Times New Roman";
	font-size: 110%;
	color: #ffffff;
	text-shadow:0 1px 1px rgba(255,255,255,0.4);
	font-weight: bold;
}

/* butoanele de inainte/inapoi intre tab-uri */
p.tabnav {
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: right;
}

p.tabnav a {
	text-decoration: none;
	color: #ffffff;
}

/* marimea, marginile... la taburi */
article.tabs {
	position: relative;
	display: block;
	width: 800px;
	height: 450px;
	margin: 20px auto;
}

article.tabs section {
	position: absolute;
	display: block;
	top: 1.8em;
	left: 0;
	width: 800px;
	height: 450px;
	padding: 10px 20px;
	color: #ffffff;
	background-color: #0f1b33;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	z-index: 0;
}

article.tabs section:first-child {
	z-index: 1;
}

article.tabs section h2 {
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 120px;
	height: 1.8em;
	top: -1.8em;
	left: 10px;
	padding: 0;
	margin: 0;
	color: #ffffff;
	background-color: #1e3766;
	border-radius: 5px 5px 0 0;
}

/* chestiile de deasupra la taburi, care ajuta la navigare */
article.tabs section:nth-child(2) h2 {
	left: 132px;
}

article.tabs section:nth-child(3) h2 {
	left: 254px;
}

article.tabs section:nth-child(4) h2 {
	left: 376px;
}

article.tabs section:nth-child(5) h2 {
	left: 498px;
}

article.tabs section:nth-child(6) h2 {
	left: 620px;
}

article.tabs section h2 a {
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

/* animatia de tranzitie intre taburi */
article.tabs section,
article.tabs section h2 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

/* cum arata textul din interiorul la tab */
article.tabs section:target,
article.tabs section:target h2 {
	color: #ffffff;
	background-color: #0f1b33;
	z-index: 2;
}
