/* stilizeaza elementele video */

/* creaza o bordura alba in jurul la videoclip, cu spatiu pentru caption in josul la video;
 * nota captionul se adauga cu <p> si </p> */
#video-container {
	width: 560px;
	text-align: center;
  	float: left; 
  	margin: 0 20px 0 0;
  	margin-left: 150px;
  	background: white;
  	border: 10px solid white;
  	position: relative;
  	z-index: 99;
}
